html {
  background-color: #f2f3f5;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.load-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.load-box > svg {
  animation: loading 1.2s linear infinite;
}

.page-loading {
  height: 32px;
  animation: loading 1.2s linear infinite;
}
